/* html {
    cursor: url (https://p7.hiclipart.com/preview/623/934/341/computer-mouse-pointer-pixel-clip-art-mouse-cursor-png.jpg);
} */

.funky-cursor {
    cursor: url(cursor.png), auto;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: #2E79EA;
    cursor: url(cursor.png), auto;
    /* cursor: url(cursor.png), auto;
    cursor: url(cursor.png), auto; */
}

a:link {
    text-decoration: none;
    color: #130c0c;
}

a:visited {
    color: #130c0c;
}

a:hover {
    color: #EFE5E5;
}
  



.ul-navigation {
    list-style-type: none;
    margin: -8px;
    background-color: #E0DB57;
    padding: 1.5rem;
    text-decoration: none;
    border: 0.2rem solid #130c0c;
}

#li {
    display: inline-block;
    text-decoration: none;
    background-color: #EFE5E5;
    border: 0.2rem solid #130c0c;
    border-radius: 100px;
    /* padding: 10px 30px; */
    margin: 0rem 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
    box-shadow: 4px 4px 0px #130c0c;
    
    transition: transform .2s;
    /* transition: all 1s ease-out; */
}

.li-images  { 
    display: inline-block;
    text-decoration: none;
    background-color: #EFE5E5;
    border: 0.2rem solid #130c0c;
    border-radius: 100px;
    /* padding: 10px 30px; */
    margin: -4.8rem 2rem !important;
    padding: 0.5rem 0.5rem !important;
    float: right;
    font-size: 1.3rem;
    box-shadow: 4px 4px 0px #130c0c;

    transition: transform .2s;
}

.li-images:hover {
    transform: translate(4px, 4px);
    box-shadow: none;

    background-color: #2E79EA;
    /* border-color: #EFE5E5; */

    /* -webkit-transform: translate(4px, 4px);
    -webkit-transform: rotate(360deg);
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: now;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite; */
    
    animation: rotation 3s infinite linear;
    animation-delay: 0.5s;
 
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg) ;
    }
  }

li#li:hover {
    transform: translate(4px, 4px);
    box-shadow: none;
}


#li:hover {
    background-color: #130c0c;
    color: #EFE5E5;
    /* outline: 5px solid #EFE5E5; */
    /* box-shadow: 4px 4px 0px #EFE5E5; */
    /* outline-offset: -5px; */
    box-shadow: none;

    /* transform: translate(0, 5px); */
}

.logo{
    width: 2.5rem;
    height: 2.5rem;
    padding: -5rem; 
}


h1 {
    text-align: center;
    color: #EFE5E5;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    padding: 2rem 1rem 0rem 1rem;

    transition: transform .2s;
}

h1:hover {
    transform: translate(0, -5px);
}

.main-circle {
    background: #EFE5E5;
    border-radius: 50%;
    border: 0.23rem solid #130c0c;
    width: 23rem;
    height: 23em;
    margin: auto;
    box-shadow: 0px 4px 0px #130c0c;
    cursor: url(./images/cursor.png), auto;

    transition: transform .2s;

}

.main-circle:hover {
    background: #E0DB57;

    /* -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5);
    transform: scale(1.5);  */

    transform: translate(0, 5px);
    box-shadow: none;
}

.me {
    width: 23rem;
    height: 23rem;
    margin: -0.5rem auto;
    cursor: url(/images/cursor.png), auto;
}

p {
    padding: 1rem 6rem;
    font-size: 1.2rem;
    text-align: center;
}

.genre-button {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.genre {
    margin: 0.5rem 0 0 0;
} 

.rb-button {
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid #130c0c;
    border-radius: 50%;
    background-color: #E0DB57;
    margin: 5rem 2rem;
    box-shadow: 0px 4px 0px #130c0c;

    transition: transform .2s;
}

.rb-button:hover {
    outline: 5px solid #E0DB57;
    background-color: #EFE5E5;
    outline-offset: -5px;

    transform: translate(0, 5px);
    box-shadow: none;
}

.fa-instagram {
    color: #130c0c;
    font-size: 2rem;
    padding: auto;
}

.fa-envelope {
    color: #130c0c;
    font-size: 2rem;
    padding: auto;
}

.fa-linkedin {
    color: #130c0c;
    font-size: 2rem;
    padding: auto;
}

h1 {
    align-items: center;
    justify-content:center;
    display: flex;
}

.name {
    position: relative;
  display: flex;
  font-size: 70px;
  font-family: arial black;  
}

.letters-ul {
    background-color: #2E79EA;
    /* border: hsla(216, 82%, 55%, 0); */
    padding: 10px;
    border: none;
    justify-content: auto;
    text-align: center;
}

#letters {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1.5rem;

    text-align: center;
    color: #EFE5E5;
    font-family: 'Press Start 2P', cursive;
    font-size: 2.3rem;
    padding: 2rem 0rem 0rem 0rem;
        
    transition: transform 0s;
}
     
#letters:hover {
    transform: translate(0, -15px);
    color: #E0DB57;
}

