/* html {
    cursor: url (https://p7.hiclipart.com/preview/623/934/341/computer-mouse-pointer-pixel-clip-art-mouse-cursor-png.jpg);
} */

.funky-cursor {
    cursor: url(cursor.png), auto;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: #EFE5E5;
    cursor: url(cursor.png), auto;
    /* cursor: url(cursor.png), auto;
    cursor: url(cursor.png), auto; */
}

a:link {
    text-decoration: none;
    color: #130c0c;
}

a:visited {
    color: #130c0c;
}

a:hover {
    color: #EFE5E5;
}
  



.ul-navigation {
    list-style-type: none;
    margin: -8px;
    background-color: rgb(0, 88, 221);
    padding: 1.5rem;
    text-decoration: none;
    border: 0.2rem solid #130c0c;
}

#li {
    display: inline-block;
    text-decoration: none;
    background-color: #EFE5E5;
    border: 0.2rem solid #130c0c;
    border-radius: 100px;
    /* padding: 10px 30px; */
    margin: 0rem 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
    box-shadow: 4px 4px 0px #130c0c;
    
    transition: transform .2s;
    /* transition: all 1s ease-out; */
}

.li-images  { 
    display: inline-block;
    text-decoration: none;
    background-color: #EFE5E5;
    border: 0.2rem solid #130c0c;
    border-radius: 100px;
    /* padding: 10px 30px; */
    margin: -4.8rem 2rem !important;
    padding: 0.5rem 0.5rem !important;
    float: right;
    font-size: 1.3rem;
    box-shadow: 4px 4px 0px #130c0c;

    transition: transform .2s;
}

.li-images:hover {
    transform: translate(4px, 4px);
    box-shadow: none;

    background-color: #2E79EA;
    /* border-color: #EFE5E5; */

    /* -webkit-transform: translate(4px, 4px);
    -webkit-transform: rotate(360deg);
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: now;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite; */
    
    animation: rotation 3s infinite linear;
    animation-delay: 0.5s;
 
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg) ;
    }
  }

li#li:hover {
    transform: translate(4px, 4px);
    box-shadow: none;
}


#li:hover {
    background-color: #130c0c;
    color: #EFE5E5;
    /* outline: 5px solid #EFE5E5; */
    /* box-shadow: 4px 4px 0px #EFE5E5; */
    /* outline-offset: -5px; */
    box-shadow: none;

    /* transform: translate(0, 5px); */
}

.logo{
    width: 2.5rem;
    height: 2.5rem;
    padding: -5rem; 
}

* {
    box-sizing: border-box;
  }

/* Create three equal columns that floats next to each other */



.h2 {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    border: 0.2rem solid #EFE5E5;
    border-radius: 100px;
    margin: 2rem 50% 0 50%;
    padding: 0.5rem 11rem 0.5rem 11rem;
    box-shadow: 4px 4px 0px #EFE5E5;
    white-space: nowrap;

    transition: transform .2s;
    transform: translateX(-50%);

    color: #EFE5E5;
    background-color: #130c0c;
}

.h2:hover{
    background-color: #E0DB57;
    color: #130c0c;
    /* transform: translateX(-46%); */
    /* transform: translate(46%, 46%); */
    transform: translate(-175px, 4px);
    box-shadow: none;
    border: 0.2rem solid #130c0c;
}

.flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flex-item {
    /* background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center; */

    /* width: 21rem; */
    /* height: 37rem; */
    margin: 1rem 0 0 0;

    /* border: 1px solid #d8cbcb; */
}

.mywork {
    border: 0.23rem solid #130c0c;
    width: 40rem;
    /* height: 25rem; */
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #2E79EA;
}

.arrow {
    margin: 1.2rem 0 0 0;
}

.arrow-left {
    float: left;
    width: 35%;
    height:3rem;
    padding-left: 1rem;
    /* border: 1px solid #c9b5b5; */

    /* display: inline-block;
    text-decoration: none;
    background-color: #EFE5E5;
    border: 0.2rem solid #130c0c;
    border-radius: 100px; */
}

.arrow-right {
    float:right;
    width: 35%;
    height:3rem;
    /* border: 1px solid #c9b5b5; */
}

.arrow-left-shape{

    height: 2.5rem;
    width: 70%;
    margin: 0 1rem 0 0;
    float: right;

    text-decoration: none;
    background-color: #E0DB57;
    border: 0.2rem solid #130c0c;
    border-radius: 100px;
    box-shadow: 4px 4px 0px #130c0c;
}

.arrow-left-shape:hover {
    transform: translate(4px, 4px);
    box-shadow: none;
    background-color: #130c0c;
    transition: transform .2s;
}

.arrow-right-shape{

    height: 2.5rem;
    width: 70%;
    margin: 0 0 0 1rem;
    float: left;

    text-decoration: none;
    background-color: #E0DB57;
    border: 0.2rem solid #130c0c;
    border-radius: 100px;
    box-shadow: 4px 4px 0px #130c0c;
}

.arrow-right-shape:hover {
    transform: translate(4px, 4px);
    box-shadow: none;
    background-color: #130c0c;
    transition: transform .2s;
}

.mywork-text{
    text-align: center;
    padding: 0 8vw;
}










/* NAVIGATION */

@media only screen and (max-width: 1200px) {
    .li-images{
        display: none;
    }

}

@media only screen and (max-width: 1038px) {
    .cv{
        display: none;
    }
}

@media only screen and (max-width: 936px) {
    li#letters.lastname {
        display: none;
    }
}

@media only screen and (max-width: 932px) {
    .misc{
        display: none;
    }
}

@media only screen and (max-width: 690px) {
    .uiux{
        display: none;
    }
}

@media only screen and (max-width: 547px) {
    .photography{
        display: none;
    }

    .design{
        display: none;
    }

    .li-images{
        display: block;
    }
}






*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#slideshow-container {
    border-radius: 100px;
}

img {
    width: 40rem;
    height: auto;
    margin: auto;
}

.carousel-container {
    margin: auto;
    /* width: 40rem;
    height: auto; */
    /* overflow: hidden; */
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    /* width: 100%;
    height:  */
}

div#arrows {
    text-align: center;
}

.prev-arrow {
    height:3rem;
    width:auto;
    object-fit: cover;
    padding: 5px 20px;
    border: 0.2rem solid #130c0c;
    border-radius: 100px;
    margin: 1.5rem 9rem;
    background-color: #E0DB57;
    box-shadow: 4px 4px 0px #130c0c;
    transition: transform .2s;
}

.prev-arrow:hover {
    background-color: #130c0c;
    transform: translate(4px, 4px);
    box-shadow: none;
    /* background: url(".images/arrow-yellow-right.png") no-repeat; */

}

.next-arrow {
    height:3rem;
    width:auto;
    object-fit: cover;
    padding: 5px 20px;
    border: 0.2rem solid #130c0c;
    border-radius: 100px;
    margin: 1.5rem 9rem;
    background-color: #E0DB57;
    box-shadow: 4px 4px 0px #130c0c;
    transition: transform .2s;
}

.next-arrow:hover {
    background-color: #130c0c;
    transform: translate(4px, 4px);
    box-shadow: none;
    /* background: url(".images/arrow-yellow-right.png") no-repeat; */

}